# ASP.NET Core
*.obj
*.pdb
*.dll
*.exe
*.suo
*.cache
*.log
*.json
*.vscode
/.vs
/.idea
/.vscode
*.csproj.user
*.publishsettings

# ASP.NET Core Scaffolding
Generated_Code/

# Visual Studio Code
.vscode/

# NuGet
*.nuget.targets
*.nuget.props

/appsettings.json

